In [19]:
import pandas as pd
import numpy as np
url = 'https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv'
df = pd.read_csv(url)
df

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369
...,...,...,...,...,...,...,...,...,...,...,...
9699,140,5.0,164.0,2981.107371,17.3,2013,Europe,Diesel,Front-wheel drive,NaN,15.101802
9700,180,NaN,154.0,2439.525729,15.0,2004,USA,Gasoline,All-wheel drive,0.0,17.962326
9701,220,2.0,138.0,2583.471318,15.1,2008,USA,Diesel,All-wheel drive,-1.0,17.186587
9702,230,4.0,177.0,2905.527390,19.4,2011,USA,Diesel,Front-wheel drive,1.0,15.331551
9703,270,3.0,140.0,2908.043477,14.7,2005,Asia,Diesel,All-wheel drive,-1.0,14.884467

In [20]:
#check 
df.shape # 9000+ rows (Cars), 11 columns (Features)

(9704, 11)

In [21]:
df.columns #check columns

Index(['engine_displacement', 'num_cylinders', 'horsepower', 'vehicle_weight',
       'acceleration', 'model_year', 'origin', 'fuel_type', 'drivetrain',
       'num_doors', 'fuel_efficiency_mpg'],
      dtype='object')

In [22]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [23]:
df.dtypes #check all features data types

engine_displacement      int64
num_cylinders          float64
horsepower             float64
vehicle_weight         float64
acceleration           float64
model_year               int64
origin                  object
fuel_type               object
drivetrain              object
num_doors              float64
fuel_efficiency_mpg    float64
dtype: object

In [24]:
df.isnull().sum() #check for nulls - for cleaning

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

## Workings (Q1-7)

#Q1 Pansad Version

In [41]:
pd.__version__
vers = pd.__version__
# to check pandas version, __ means private
#Answer: 2.3.3
print('Q1:', vers)

Q1: 2.3.3

#Q2 Record Counts

In [ ]:
len(df)

9704

In [42]:
#Q2 Answer
n_records = len(df)
print('Q2:', n_records)

Q2: 9704

#Q3 Fuel Types Count

In [ ]:
df['fuel_type'].nunique()

2

In [43]:
#Q3 Answer
n_fuel_types = df['fuel_type'].nunique()
print('Q3:', n_fuel_types)

Q3: 2

#Q4  Missing Values

In [46]:
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [ ]:
#Q4 Answer
(df.isnull().sum() > 0).sum()
(df.isnull().sum() > 0).sum().item()
print('Q4:', (df.isnull().sum() > 0).sum().item())

# Note subfunction 'sum()' inside another function 'sum()' 
# Method-chaining
# either int(xyz) or .item() to remove wrapping of datatype (np.int64)

Q4: 4

#Q5 Max Fuel Efficiency

In [55]:
# Max Fuel Efficiency from Asia
[df['origin'] == 'Asia']

[0       False
 1       False
 2       False
 3       False
 4       False
         ...
 9699    False
 9700    False
 9701    False
 9702    False
 9703     True
 Name: origin, Length: 9704, dtype: bool]

In [56]:
#from df
df[df['origin'] == 'Asia']

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
8,250,1.0,174.0,2714.219310,10.3,2016,Asia,Diesel,Front-wheel drive,-1.0,16.823554
12,320,5.0,145.0,2783.868974,15.1,2010,Asia,Diesel,All-wheel drive,1.0,16.175820
14,200,6.0,160.0,3582.687368,14.9,2007,Asia,Diesel,All-wheel drive,0.0,11.871091
20,150,3.0,197.0,2231.808142,18.7,2011,Asia,Gasoline,Front-wheel drive,1.0,18.889083
21,160,4.0,133.0,2659.431451,NaN,2016,Asia,Gasoline,Front-wheel drive,-1.0,16.077730
...,...,...,...,...,...,...,...,...,...,...,...
9688,260,4.0,NaN,3948.404625,15.5,2018,Asia,Diesel,All-wheel drive,-1.0,11.054830
9692,180,3.0,188.0,3680.341381,18.0,2016,Asia,Gasoline,Front-wheel drive,1.0,11.711653
9693,280,2.0,148.0,2545.070139,15.6,2012,Asia,Diesel,All-wheel drive,0.0,17.202782
9698,180,1.0,131.0,3107.427820,13.2,2005,Asia,Gasoline,Front-wheel drive,-2.0,13.933716
9703,270,3.0,140.0,2908.043477,14.7,2005,Asia,Diesel,All-wheel drive,-1.0,14.884467

In [57]:
# interested in 'fuel efficiency'
df[df['origin'] == 'Asia']['fuel_efficiency_mpg']

8       16.823554
12      16.175820
14      11.871091
20      18.889083
21      16.077730
          ...
9688    11.054830
9692    11.711653
9693    17.202782
9698    13.933716
9703    14.884467
Name: fuel_efficiency_mpg, Length: 3247, dtype: float64

In [67]:
# add max()
# round before .item - .round().item()
df[df['origin'] == 'Asia']['fuel_efficiency_mpg'].max().round(2).item()
max_fuel_ef_asia_cars = df[df['origin'] == 'Asia']['fuel_efficiency_mpg'].max().round(2).item()
print('Q5:', max_fuel_ef_asia_cars)

Q5: 23.76

#Q6 Median Value of Horsepower