In [58]:
import pandas as pd
import numpy as np
url = 'https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv'
df = pd.read_csv(url)
df

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369
...,...,...,...,...,...,...,...,...,...,...,...
9699,140,5.0,164.0,2981.107371,17.3,2013,Europe,Diesel,Front-wheel drive,NaN,15.101802
9700,180,NaN,154.0,2439.525729,15.0,2004,USA,Gasoline,All-wheel drive,0.0,17.962326
9701,220,2.0,138.0,2583.471318,15.1,2008,USA,Diesel,All-wheel drive,-1.0,17.186587
9702,230,4.0,177.0,2905.527390,19.4,2011,USA,Diesel,Front-wheel drive,1.0,15.331551
9703,270,3.0,140.0,2908.043477,14.7,2005,Asia,Diesel,All-wheel drive,-1.0,14.884467

In [59]:
#check 
df.shape # 9000+ rows (Cars), 11 columns (Features)

(9704, 11)

In [60]:
df.columns #check columns

Index(['engine_displacement', 'num_cylinders', 'horsepower', 'vehicle_weight',
       'acceleration', 'model_year', 'origin', 'fuel_type', 'drivetrain',
       'num_doors', 'fuel_efficiency_mpg'],
      dtype='object')

In [61]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [62]:
df.dtypes #check all features data types

engine_displacement      int64
num_cylinders          float64
horsepower             float64
vehicle_weight         float64
acceleration           float64
model_year               int64
origin                  object
fuel_type               object
drivetrain              object
num_doors              float64
fuel_efficiency_mpg    float64
dtype: object

In [63]:
df.isnull().sum() #check for nulls - for cleaning

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

# Workings (Q1-7)

### Q1 Pandas Version

In [64]:
pd.__version__
vers = pd.__version__
# to check pandas version, __ means private
#Answer: 2.3.3
print('Q1:', vers)

Q1: 2.3.3

### Q2 Record Counts

In [65]:
len(df)

9704

In [66]:
#Q2 Answer
n_records = len(df)
print('Q2:', n_records)

Q2: 9704

### Q3 Fuel Types Count

In [67]:
df['fuel_type'].nunique()

2

In [68]:
#Q3 Answer
n_fuel_types = df['fuel_type'].nunique()
print('Q3:', n_fuel_types)

Q3: 2

### Q4  Missing Values

In [69]:
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [70]:
#Q4 Answer
(df.isnull().sum() > 0).sum()
(df.isnull().sum() > 0).sum().item()
print('Q4:', (df.isnull().sum() > 0).sum().item())

# Note subfunction 'sum()' inside another function 'sum()' 
# Method-chaining
# either int(xyz) or .item() to remove wrapping of datatype (np.int64)

Q4: 4

### Q5 Max Fuel Efficiency

In [71]:
# Max Fuel Efficiency from Asia
[df['origin'] == 'Asia']

[0       False
 1       False
 2       False
 3       False
 4       False
         ...
 9699    False
 9700    False
 9701    False
 9702    False
 9703     True
 Name: origin, Length: 9704, dtype: bool]

In [72]:
#from df
df[df['origin'] == 'Asia']

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
8,250,1.0,174.0,2714.219310,10.3,2016,Asia,Diesel,Front-wheel drive,-1.0,16.823554
12,320,5.0,145.0,2783.868974,15.1,2010,Asia,Diesel,All-wheel drive,1.0,16.175820
14,200,6.0,160.0,3582.687368,14.9,2007,Asia,Diesel,All-wheel drive,0.0,11.871091
20,150,3.0,197.0,2231.808142,18.7,2011,Asia,Gasoline,Front-wheel drive,1.0,18.889083
21,160,4.0,133.0,2659.431451,NaN,2016,Asia,Gasoline,Front-wheel drive,-1.0,16.077730
...,...,...,...,...,...,...,...,...,...,...,...
9688,260,4.0,NaN,3948.404625,15.5,2018,Asia,Diesel,All-wheel drive,-1.0,11.054830
9692,180,3.0,188.0,3680.341381,18.0,2016,Asia,Gasoline,Front-wheel drive,1.0,11.711653
9693,280,2.0,148.0,2545.070139,15.6,2012,Asia,Diesel,All-wheel drive,0.0,17.202782
9698,180,1.0,131.0,3107.427820,13.2,2005,Asia,Gasoline,Front-wheel drive,-2.0,13.933716
9703,270,3.0,140.0,2908.043477,14.7,2005,Asia,Diesel,All-wheel drive,-1.0,14.884467

In [73]:
# interested in 'fuel efficiency'
df[df['origin'] == 'Asia']['fuel_efficiency_mpg']

8       16.823554
12      16.175820
14      11.871091
20      18.889083
21      16.077730
          ...
9688    11.054830
9692    11.711653
9693    17.202782
9698    13.933716
9703    14.884467
Name: fuel_efficiency_mpg, Length: 3247, dtype: float64

In [74]:
# add max()
# round before .item - .round().item()
# OR use round (xyz.item, 2)
df[df['origin'] == 'Asia']['fuel_efficiency_mpg'].max().round(3).item()
max_fuel_ef_asia_cars = df[df['origin'] == 'Asia']['fuel_efficiency_mpg'].max().round(3).item()
print('Q5:', max_fuel_ef_asia_cars)

Q5: 23.759

###  Q6 Median Value of Horsepower

1. Find the median value of the horsepower column in the dataset.
2. Next, calculate the most frequent value of the same horsepower column.
3. Use the fillna method to fill the missing values in the horsepower column with the most frequent value from the previous step.
4. Now, calculate the median value of horsepower once again.
 - Has it changed?

In [75]:
#Q6.1 - mean of horsepower column
median_before = df['horsepower'].median().item()
print('Q6 Part 1:', median_before)

Q6 Part 1: 149.0

In [76]:
#Q6.2 max frequency of horsepower column
# max freq = mode
mode_horsepow = df['horsepower'].mode().item()
mode_horsepow
print('Q6.2:', mode_horsepow)

Q6.2: 152.0

In [77]:
#Q6.3 - Fill Null elements
n_null = df['horsepower'].isnull().sum().item() 
print('Total of Null elements:', n_null)

Total of Null elements: 708

In [78]:
#fill Null elements with max freq values 
df['horsepower'] = df['horsepower'].fillna(mode_horsepow) # 'mode_horse' has to be integer - 'fillna()' does not accept float
df

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,152.0,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369
...,...,...,...,...,...,...,...,...,...,...,...
9699,140,5.0,164.0,2981.107371,17.3,2013,Europe,Diesel,Front-wheel drive,NaN,15.101802
9700,180,NaN,154.0,2439.525729,15.0,2004,USA,Gasoline,All-wheel drive,0.0,17.962326
9701,220,2.0,138.0,2583.471318,15.1,2008,USA,Diesel,All-wheel drive,-1.0,17.186587
9702,230,4.0,177.0,2905.527390,19.4,2011,USA,Diesel,Front-wheel drive,1.0,15.331551
9703,270,3.0,140.0,2908.043477,14.7,2005,Asia,Diesel,All-wheel drive,-1.0,14.884467

In [79]:
#check null values
df['horsepower'].isnull().sum().item()

0

In [80]:
#Q6.4 - new median value
median_after = df['horsepower'].median().item()
print('Q6 Part 4:', median_after)

Q6 Part 4: 152.0

In [81]:
#Q6.5 - Has it changed
# Uses boolean
print('Has it changed?', 
      'No' if median_before == median_after 
      else 'Yes, increased' if median_after - median_before > 0 
      else 'Yes, decreased')

Has it changed? Yes, increased

### Q7 -  Sum of Weights

1.  Select all the cars from Asia
2. Select only columns vehicle_weight and model_year
3. Select the first 7 values
4. Get the underlying NumPy array. Let's call it X.
5. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
6. Invert XTX.
7. Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
8. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
9. What's the sum of all the elements of the result?
Note: You just implemented linear regression.

In [25]:
df

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,152.0,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369
...,...,...,...,...,...,...,...,...,...,...,...
9699,140,5.0,164.0,2981.107371,17.3,2013,Europe,Diesel,Front-wheel drive,NaN,15.101802
9700,180,NaN,154.0,2439.525729,15.0,2004,USA,Gasoline,All-wheel drive,0.0,17.962326
9701,220,2.0,138.0,2583.471318,15.1,2008,USA,Diesel,All-wheel drive,-1.0,17.186587
9702,230,4.0,177.0,2905.527390,19.4,2011,USA,Diesel,Front-wheel drive,1.0,15.331551
9703,270,3.0,140.0,2908.043477,14.7,2005,Asia,Diesel,All-wheel drive,-1.0,14.884467

In [26]:
#Q7.1 - Select Asia Cars
asia = df[df['origin'] == 'Asia']
asia

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
8,250,1.0,174.0,2714.219310,10.3,2016,Asia,Diesel,Front-wheel drive,-1.0,16.823554
12,320,5.0,145.0,2783.868974,15.1,2010,Asia,Diesel,All-wheel drive,1.0,16.175820
14,200,6.0,160.0,3582.687368,14.9,2007,Asia,Diesel,All-wheel drive,0.0,11.871091
20,150,3.0,197.0,2231.808142,18.7,2011,Asia,Gasoline,Front-wheel drive,1.0,18.889083
21,160,4.0,133.0,2659.431451,NaN,2016,Asia,Gasoline,Front-wheel drive,-1.0,16.077730
...,...,...,...,...,...,...,...,...,...,...,...
9688,260,4.0,152.0,3948.404625,15.5,2018,Asia,Diesel,All-wheel drive,-1.0,11.054830
9692,180,3.0,188.0,3680.341381,18.0,2016,Asia,Gasoline,Front-wheel drive,1.0,11.711653
9693,280,2.0,148.0,2545.070139,15.6,2012,Asia,Diesel,All-wheel drive,0.0,17.202782
9698,180,1.0,131.0,3107.427820,13.2,2005,Asia,Gasoline,Front-wheel drive,-2.0,13.933716
9703,270,3.0,140.0,2908.043477,14.7,2005,Asia,Diesel,All-wheel drive,-1.0,14.884467

In [27]:
#Q7.2 Select 2 columns - 'vehicle_weight' and 'model_year'
asia[['vehicle_weight', 'model_year']]

      vehicle_weight  model_year
8        2714.219310        2016
12       2783.868974        2010
14       3582.687368        2007
20       2231.808142        2011
21       2659.431451        2016
...              ...         ...
9688     3948.404625        2018
9692     3680.341381        2016
9693     2545.070139        2012
9698     3107.427820        2005
9703     2908.043477        2005

[3247 rows x 2 columns]

In [28]:
#Q7.3 - get first 7 values (rows)
asia[['vehicle_weight', 'model_year']].iloc[:7].values.round(2)

array([[2714.22, 2016.  ],
       [2783.87, 2010.  ],
       [3582.69, 2007.  ],
       [2231.81, 2011.  ],
       [2659.43, 2016.  ],
       [2844.23, 2014.  ],
       [3761.99, 2019.  ]])

In [29]:
#Q7.4 - Get the array shape of X
X = asia[['vehicle_weight', 'model_year']].iloc[:7].values.round(2)
X.shape
print('X array shape is:', X.shape)

X array shape is: (7, 2)

In [30]:
#Q7.5 - matrix mult between tranpose X and X
XTX = X.T @ X
XTX
print('Matrix-Multiplication of X^T and X is:', XTX)
# note: title of print() mix with array distorted

Matrix-Multiplication of X^T and X is: [[62248346.87540001 41431222.87      ]
 [41431222.87       28373339.        ]]

In [31]:
#Q7.6 - Invert a matrix
XTX_inv = np.linalg.inv(XTX)
print('XTX Inverse is:', XTX_inv)

XTX Inverse is: [[ 5.71499054e-07 -8.34512450e-07]
 [-8.34512450e-07  1.25381335e-06]]

In [32]:
#Q7.7 - create array y with specified values
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])
y

array([1100, 1300,  800,  900, 1000, 1100, 1200])

In [33]:
#Q7.8 - Multiply inverse matrix with its origin, and multiply y, call w
w = XTX_inv @ X.T @ y
w

array([0.01386366, 0.5049075 ])

In [ ]:
#Q7.9 - sum of matrix w - done
sum_w = w.sum().round(3).item()
print('The sum of all elements in w matrix is:', sum_w)

The sum of all elements in w matrix is: 0.519